/* font family  */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

/* comoon style  */

body {
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.hero-area {
    margin: 40px 5%;
    width: 90%;
    height: 600px;
    background-color: #161616;
    border-radius: 30px;
}

.hero-bg {
    display: flex;
}

.hero-left {
    padding: 100px 0px 0px 100px;
}

.hero-left h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
}

.hero-left p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.hero-left a {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}

.hero-right img {
    align-items: center;
}


/*-------------------
     second sec start 
    ------------------------ */

.second-sec {
    margin: 40px 5%;
    width: 90%;
}


/* ---------------------
    left blog
    -------------------- */

.left-nav {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.left-nav a {
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.nav1 a {
    padding: 10px 80px;
    background-color: #DD0000;
    color: #FFFFFF;
}

.nav2 a {
    padding: 10px 55px;
}

.nav3 a {
    padding: 10px 40px;
}

.total-area {
    display: flex;
    gap: 20px;
}


/*-----------------
     right blog start 
    --------------- */

.right-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.blog {
    width: 312px;
    height: 362px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px lightgray;
}

.blog:hover {
    opacity: 0.7;
    transition: 1s;
}

.info {
    margin: 20px 15px;
}

.info a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 5px 10px;
}

.info a:hover {
    background-color: lightgray;
    transition: 0.2s;
}

.info h2 {
    font-size: 18px;
    color: #161616;
    font-weight: 600;
}

.info-des {
    display: flex;
    gap: 50px;
    color: rgba(22, 22, 22, 0.7);
}


/* ..............
view button 
................... */

.view-more {
    margin: 40px 5%;
    width: 90%;
}

.views {
    text-align: center;
    display: none;
}

.views a {
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: orangered;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}


/*------------------------
     footer area start 
    ----------------------- */

footer {
    width: 100%;
    height: 300px;
    background-color: #161616;
}

.goal p {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #FFFFFF;
    padding-top: 70px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.foot-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-link ul li {
    list-style: none;
}

.foot-link ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 15px;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-icon i {
    font-size: 25px;
}

.fa-facebook {
    color: #4267B2;
}

.fa-instagram {
    color: rgb(150, 47, 191);
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-pinterest {
    color: #E60023;
}

.fa-youtube {
    color: #FF0000;
}


/* ---------------------------------------------------
                    first page end
    -------------------------------------------------------*/


/* right blog form 2nd page  */

.image1 img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.nav3-2nd a {
    background-color: #DD0000;
    padding: 10px 40px;
    color: #FFFFFF;
}

.nav1-2nd a {
    background-color: #FFFFFF;
    padding: 10px 80px;
}


/* extra stlye  */

.groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.groups-h {
    text-align: center;
    padding: 20px 0;
}

.group h2 {
    text-align: center;
    padding-top: 10px;
}

.group {
    width: 315px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px lightgray;
}

.group img {
    width: 281px;
    padding-left: 18px;
}


/* ------------------------------
    2nd page end
     ------------------------------- */


/* .................................
    media query start 
    ....................... */

@media screen and (max-width:576px) {
    .hero-bg {
        margin: 5px;
        width: 312px;
        display: block;
    }
    .hero-left {
        margin-top: -20px;
        padding: 98px 25px 0px 55px;
    }
    .hero-left h1 {
        font-size: 30px;
        text-align: center;
        margin-top: -50px;
        /* margin-left: -100px; */
    }
    .hero-left p {
        font-size: 10px;
        text-align: center;
    }
    .hero-left a {
        font-size: 10px;
        font-weight: 300px;
        padding: 4px 8px;
        margin-left: 70px;
    }
    .hero-right img {
        width: 200px;
        height: 250px;
        padding: 0 45px
    }
    .total-area,
    .right-blog,
    .groups {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .goal p {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0;
    }
    hr {
        margin-top: -30px;
    }
    .view-more {
        visibility: initial;
    }
    .foot-link ul {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .hero-bg {
        margin: 5px;
        width: 80%;
    }
    .hero-left {
        margin-left: -30px;
    }
    .hero-left h1 {
        font-size: 30px;
        margin-top: -20px;
    }
    .hero-left p {
        font-size: 15px;
    }
    .hero-left a {
        padding: 5px 10px;
        font-size: 15px;
    }
    .hero-right {
        width: 40%;
    }
    .total-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-blog,
    .groups {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .foot-link ul li a {
        padding-left: 5px;
    }
    /* 3rd page  */
}